<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.syl.mp3online">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <!--如果加了portrait就代表无论什么情况下都是竖屏显示的-->
            <!-- 去掉标题栏，且全屏显示（去掉任务栏）-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--黑色背景并无标题栏-->
        <activity android:name=".activities.MainActivity"
            android:label="@string/app_name"
            >
        </activity>
        <service android:name=".services.MusicService"/>
    </application>

</manifest>
